@using Senswave.Web.Components.Navigation
@using Senswave.Web.Extensions
@using Senswave.Web.Homes.Services
@using Senswave.Web.Shared.Services
@using Senswave.Web.Users.Auth.Services

@inject ILoadingService LoadingService
@inject ISnackbar Snackbar
@inject IAuthenticationService authenticationService
@inject IHomeService HomeService
@implements IDisposable

@* Mobile Navigation *@
<MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        @* <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" /> *@
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen">
        <MudDrawerHeader Class="justify-content-center pt-6 pb-10">
            <MudPaper Elevation="6" Class="hero-card overflow-hidden d-flex align-items-center justify-content-center p-0 m-0 rounded-lg">
                <MudImage Src="icon-192.png"
                          Width="128"
                          Alt="icon"
                          Class="p-0 m-0 rounded-lg" />
            </MudPaper>
        </MudDrawerHeader>
        <MudDivider Class="my-1" />

        @if (HomeService.CurrentHome is not null)
        {
            <div class="d-flex justify-center py-2">
                <MudChip T="string"
                         Icon="@HomeService.CurrentHome!.Icon.TranslateIcon()"
                         Color="Color.Primary"
                         Variant="Variant.Outlined"
                         Size="Size.Medium">
                    @HomeService.CurrentHome!.Name
                </MudChip>
            </div>
        }

        <MudDivider Class="my-1" />
        <NavigationMenu />
        <MudItem Class="text-center p-2 pb-4">
            <MudText Typo="Typo.subtitle2">© 2026 Senswave</MudText>
        </MudItem>
    </MudDrawer>
</MudHidden>

@* Tablet Navigation *@
<MudHidden Breakpoint="Breakpoint.Xs">
    <MudHidden Breakpoint="Breakpoint.LgAndUp">
        <MudAppBar Class="pl-0">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <MudSpacer />
            @* <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" /> *@
        </MudAppBar>
        <MudDrawer Fixed="true" 
                   Variant="@DrawerVariant.Mini" 
                   @bind-Open="_drawerOpen"
                   OpenMiniOnHover="true" 
                   Breakpoint="Breakpoint.None"
                   ClipMode="DrawerClipMode.Always"
                   Elevation="1">

            @if (_drawerOpen)
            {
                <div class="d-flex justify-center py-2">
                    <MudChip T="string"
                             Icon="@HomeService.CurrentHome!.Icon.TranslateIcon()"
                             Color="Color.Primary"
                             Variant="Variant.Outlined"
                             Size="Size.Medium">
                        @HomeService.CurrentHome!.Name
                    </MudChip>
                </div>
            }

            <NavigationMenu />

            @if (_drawerOpen)
            {
                <MudItem Class="text-center p-2 pb-4">
                    <MudText Typo="Typo.subtitle2">© 2026 Senswave</MudText>
                </MudItem>
            }

        </MudDrawer>
    </MudHidden>
</MudHidden>

@* Desktop Navigation *@
<MudHidden Breakpoint="Breakpoint.Xs">
    <MudHidden Breakpoint="Breakpoint.MdAndDown">
        <MudAppBar>
            <MudSpacer />
            @*
                <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
            *@
        </MudAppBar>
        <MudDrawer Open="true"
                   Width="220px"
                   Variant="DrawerVariant.Persistent"
                   Elevation="1">

            <MudDrawerHeader Class="justify-content-center pt-6 pb-10">
                <MudPaper Elevation="6" Class="hero-card overflow-hidden d-flex align-items-center justify-content-center p-0 m-0 rounded-lg">
                    <MudImage Src="icon-192.png"
                              Width="128"
                              Alt="icon"
                              Class="p-0 m-0 rounded-lg" />
                </MudPaper>
            </MudDrawerHeader>
            @if (HomeService.CurrentHome is not null)
            {
                <div class="d-flex justify-center py-2">
                    <MudChip T="string"
                             Icon="@HomeService.CurrentHome!.Icon.TranslateIcon()"
                             Color="Color.Primary"
                             Variant="Variant.Outlined"
                             Size="Size.Medium">
                        @HomeService.CurrentHome!.Name
                    </MudChip>
                </div>
            }
            <NavigationMenu/>
            <MudItem Class="text-center p-2 pb-4">
                <MudText Typo="Typo.subtitle2">© 2026 Senswave</MudText>
            </MudItem>
        </MudDrawer>
    </MudHidden>
</MudHidden>

@code {

    bool _drawerOpen = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        HomeService.OnChange += Rerender;
    }

    public void Dispose()
    {
        HomeService.OnChange -= Rerender;
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    void Rerender()
    {
        StateHasChanged();
    }
}
