@page "/devices"
@attribute [Authorize]

@using Senswave.Web.Components.Devices
@using Senswave.Web.Devices.Components
@using Senswave.Web.Devices.Integration
@using Senswave.Web.Devices.Models
@using Senswave.Web.Devices.Services
@using Senswave.Web.Homes.Components
@using Senswave.Web.Homes.Integration
@using Senswave.Web.Homes.Models
@using Senswave.Web.Homes.Services
@using Senswave.Web.LiveUpdate.Models
@using Senswave.Web.LiveUpdate.Services
@using Senswave.Web.Shared.Components
@using Senswave.Web.Shared.Services
@using Senswave.Web.Users.Users.Services

@inject IUserService UserService
@inject IHomeService HomeService
@inject IDeviceListService DeviceListService
@inject IRoomService RoomService
@inject NavigationManager Navigation
@inject ISnackbar Snackbar
@inject ILogger<List> Logger
@inject IDialogService DialogService
@inject ILiveUpdateService LiveUpdateService

<PageTitle>Home Dashboard</PageTitle>

<SensPage Loading="@_loading" FailedToLoad="@_failedToLoad" RefreshContent="@RefreshPage" Breadcrumbs="@Breadcrumbs">
    <LoadingContent>
        
        <MudContainer MaxWidth="MaxWidth.False" Gutters="false" Class="m-1">
            <MudItem xs="12" sm="6" md="4" lg="3">
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="m-2" Style="min-height:64px; width:256px;" />
            </MudItem>
        </MudContainer>

        <MudContainer MaxWidth="MaxWidth.False" Gutters="false" Class="d-flex flex-column">
            <MudGrid Spacing="0" Class="p-0 d-flex flex-row flex-wrap">
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="m-2" Style="min-height:96px;" />
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="m-2" Style="min-height:96px;" />
                </MudItem>
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="m-2" Style="min-height:96px;" />
                </MudItem>

                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="m-2" Style="min-height:96px;" />
                </MudItem>

                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="m-2" Style="min-height:96px;" />
                </MudItem>

                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="m-2" Style="min-height:96px;" />
                </MudItem>

                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="m-2" Style="min-height:96px;" />
                </MudItem>
            </MudGrid>
        </MudContainer>
        
    </LoadingContent>
    <Content>
        <MudContainer MaxWidth="MaxWidth.False" Gutters="false" Class="d-flex flex-column pb-3">

            <MudContainer MaxWidth="MaxWidth.False" Gutters="false" Class="m-0 pb-1">
                <MudContainer Class="d-inline-flex align-items-center w-auto p-0">
                    <MudText Typo="Typo.subtitle1" Class="me-1">Rooms</MudText>

                    <MudTooltip Text="This is list of rooms in home. You can filter devices by selecting Rooms" Placement="Placement.Bottom">
                        <MudIconButton Icon="@Icons.Material.Filled.Info" Size="Size.Small" Edge="Edge.End" Color="Color.Primary" Style="padding: 0;" />
                    </MudTooltip>
                </MudContainer>
            </MudContainer>

            <div class="mb-4 overflow-auto">
                <MudChipSet Class="d-flex flex-row flex-wrap"  T="string" SelectionMode="SelectionMode.SingleSelection" CheckMark="true" @bind-SelectedValue="_selectedRoomId" Color="Color.Primary" Variant="Variant.Text">

                    <MudIconButton Icon="@Icons.Material.Filled.AddHomeWork"
                                   OnClick="AddRoomDialogHandler"
                                   Color="Color.Secondary"
                                   Size="Size.Medium" />

                    <MudDivider Vertical="true" FlexItem="true" Class="mx-2 my-2" />

                    <MudChip Value="@(string.Empty)" Text="All Rooms" Default="true" Size="Size.Medium" />
                    @foreach (var room in displayRooms)
                    {
                        <MudChip Value="@room.Id" Size="Size.Medium">
                            <div class="d-flex align-center">
                                <span>@room.Name</span>

                                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                               Size="Size.Small"
                                               Class="ml-1"
                                               OnClick="@(() => ManageRoomDialog(room))" />
                            </div>
                        </MudChip>
                    }
                </MudChipSet>
            </div>

            <MudContainer MaxWidth="MaxWidth.False" Gutters="false" Class="m-0 pb-1">
                <MudContainer Class="d-inline-flex align-items-center w-auto p-0">
                    <MudText Typo="Typo.subtitle1" Class="me-1">Devices</MudText>

                    <MudTooltip Text="This is list of devices in home that are available to interact." Placement="Placement.Bottom">
                        <MudIconButton Icon="@Icons.Material.Filled.Info" Size="Size.Small" Edge="Edge.End" Color="Color.Primary" Style="padding: 0;" />
                    </MudTooltip>
                </MudContainer>
            </MudContainer>

            <MudGrid Spacing="3" Class="p-0 d-flex flex-row flex-wrap" Style="padding-bottom: 64px!important;">

                @foreach (var device in FilteredDevices)
                {
                    <MudItem xs="12" sm="12" md="6" lg="4" xl="3" xxl="3">
                        <SensDevice Device="@device" OnClick="() => OpenDevice(device.Id)" />
                    </MudItem>
                }

                <MudItem xs="6" sm="6" md="6" lg="4" xl="3" xxl="3">
                    <SensListAction Title="Create Device" OnClick="AddDeviceDialogHandler" />
                </MudItem>

            </MudGrid>

            <MudFabMenu Class="position-absolute m-3 m-lg-4"
                        Style="right:0;bottom:0;"
                        StartIcon="@Icons.Material.Rounded.MoreVert"
                        Color="Color.Secondary"
                        @bind-Open="@_open" Fixed="@_fixed">

                <MudFabMenuItem StartIcon="@Icons.Material.Rounded.Refresh"
                                Color="Color.Secondary"
                                OnClick="RefreshPage" />

                <MudFabMenuItem StartIcon="@Icons.Material.Rounded.Add"
                                Color="Color.Secondary"
                                OnClick="AddDeviceDialogHandler" />


            </MudFabMenu>

        </MudContainer>
    </Content>
</SensPage>

@code {
    private bool _open;
    private bool _fixed;
    private bool _loading = true;
    private bool _failedToLoad = true;
    private string? _selectedRoomId;

    private List<DisplayDeviceDto> displayDevices = [];
    private List<RoomDto> displayRooms = [];

    private IEnumerable<DisplayDeviceDto> FilteredDevices =>
        string.IsNullOrEmpty(_selectedRoomId)
            ? displayDevices
            : displayDevices.Where(d => d.RoomId == _selectedRoomId);

    private List<BreadcrumbItem> Breadcrumbs => [
        new("Home Dashboard", "/devices", true, $"{Icons.Material.Filled.Dashboard}")
    ];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await UserService.Initialize();
        await HomeService.Initialize();

        if (HomeService.CurrentHome is null)
        {
            Navigation.NavigateTo("/homes/list");
            return;
        }

        await LiveUpdateService.Initialize(HomeService.CurrentHome.Id);

        LiveUpdateService.OnUpdate += LiveUpdate;

        await RefreshPage();
    }

    private void OpenDevice(string deviceId)
    {
        Navigation.NavigateTo($"devices/dashboard/{deviceId}");
    }

    private async Task AddDeviceDialogHandler()
    {
        var parameters = new DialogParameters
        {
            ["HomeId"] = HomeService.CurrentHome.Id
        };

        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Medium,
            FullWidth=true
        };

        var dialog = await DialogService.ShowAsync<AddDeviceDialog>("Create Device", parameters, options);

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await RefreshPage();
        }
    }

    private async Task AddRoomDialogHandler()
    {
        var dialog = await DialogService.ShowAsync<RoomManagementDialog>("Create Room",
            new DialogOptions
            {
                MaxWidth = MaxWidth.Medium,
                FullWidth = true,
                CloseOnEscapeKey = true
            });

        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await RefreshPage();
        }
    }

    private async Task ManageRoomDialog(RoomDto room)
    {
        var parameters = new DialogParameters
        {
            { "Room", room },
            { "Edit", true }
        };

        var dialog = await DialogService.ShowAsync<RoomManagementDialog>("Edit Room", parameters,
            new DialogOptions
            {
                MaxWidth = MaxWidth.Medium,
                FullWidth = true,
                CloseOnEscapeKey = true
            });
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await RefreshPage();
        }
    }

    private async Task RefreshPage()
    {
        try
        {
            _loading = true;
            _selectedRoomId = string.Empty;

            var roomResult = await RoomService.LoadRooms();

            if (roomResult.IsFailure)
            {
                Snackbar.Add("Failed to laod rooms", Severity.Warning);
            }
            else
            {
                displayRooms = RoomService.Rooms;
            }

            var result = await DeviceListService.GetListDevicesForHome();

            if (result.IsFailure)
            {
                Snackbar.Add("Failed to load devices please refresh.", Severity.Error);
                _failedToLoad = true;
                return;
            }

            displayDevices = result.Value;

            _failedToLoad = false;
        }
        catch (Exception ex)
        {
            _failedToLoad = true;
            Logger.LogError(ex, "Failed to load page.");
        }
        finally
        {
            _loading = false;
        }
    }

    private async Task LiveUpdate(UpdateEvent updateEvent)
    {
        if (updateEvent.Type == UpdateType.DeviceTileActionUpdate)
        {
            try
            {
                var result = await DeviceListService.GetListDevicesForHome();

                if (result.IsFailure)
                {
                    Snackbar.Add("Failed to refresh device states.", Severity.Error);
                    return;
                }

                displayDevices = result.Value;
                StateHasChanged();
            }
            catch (Exception ex)
            {
                _failedToLoad = true;
                Logger.LogError(ex, "Failed to load page.");
                Snackbar.Add("Failed to refresh device states.", Severity.Error);
            }
        }
    }
}