@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using Senswave.Web.Devices.Integration
@using Senswave.Web.Devices.Services
@using Senswave.Web.Shared.Components
@using System.Text.Json

@inject IDeviceDetailsService DeviceDetailsService

<MudPaper Class="d-flex align-items-center p-3 gap-3 cursor-pointer"
          tabindex="0"
          Style="width:100%; height:100%;"
          Elevation="1"
          @onkeydown="(e) => OnKeyDown(e)"
          @onclick="HandleClick">

    <!-- Icon -->
    <SensIcon Icon="@Device.Icon"
              Size="Size.Large"
              Color="Color.Primary" />

    <!-- Content -->
    <div class="d-flex flex-column flex-grow-1">

        <MudText Typo="Typo.subtitle1" Class="fw-bold">@Device.Name</MudText>

        <div class="d-flex flex-wrap gap-0 mt-1">

            @if (HasRoomName())
            {
                <MudTooltip Text="@($"Device is in room {RoomName}.")">
                    <MudChip T="string"
                             Size="Size.Small"
                             Color="Color.Primary"
                             Variant="Variant.Outlined"
                             Icon="@Icons.Material.Rounded.MyLocation">
                        @RoomName
                    </MudChip>
                </MudTooltip>

            }
            else
            {
                <MudTooltip Text="Device is not assibned to any room.">
                    <MudChip T="string"
                             Size="Size.Small"
                             Color="Color.Secondary"
                             Variant="Variant.Outlined"
                             Icon="@Icons.Material.Rounded.MyLocation">
                        Unknown
                    </MudChip>
                </MudTooltip>
            }

        </div>

    </div>


    @if (Device?.Tile?.Type == "Switch")
    {
        <MudIconButton OnClick="HandleStateUpdate" Icon="@Icons.Material.Rounded.PowerSettingsNew" Variant="Variant.Outlined" Color="GetColor()" Size="Size.Medium" />
    }

</MudPaper>

@code {

    [Parameter]
    public DisplayDeviceDto Device { get; set; } = default!;

    [Parameter]
    public EventCallback<DisplayDeviceDto> OnClick { get; set; }

    private string RoomName { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (!string.IsNullOrEmpty(Device.RoomId))
        {
            RoomName = await DeviceDetailsService.GetRoomNameById(Device.RoomId);
        }
        else
        {
            RoomName = string.Empty;
        }
    }

    private async Task HandleStateUpdate()
    {

    }

    private bool HasRoomName() => RoomName != string.Empty;

    private Color GetColor()
    {
        if (Device?.Tile?.Value?.AsValue().GetValueKind() == JsonValueKind.True)
            return Color.Success;

        return Color.Error;
    }

    private async Task HandleClick()
    {
        if (OnClick.HasDelegate)
            await OnClick.InvokeAsync(Device);
    }

    async Task OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" || e.Key == " ")
        {
            if (OnClick.HasDelegate)
                await OnClick.InvokeAsync(Device);
        }
    }
}